@use 'variaveis';

.footer {
    background-color: #333;
    color: variaveis.$primary-color;
    text-align: center;
    padding: 20px 0;
    position: relative; //Para posicionamento
    bottom: 0; //Para fixar na parte inferior
    width: 100%;

    &__container {
        max-width: 1200px;
        margin: 0 auto; //Para centralizar o conteúdo
        padding: 0 20px; //Padding horizontal
    }

    &__text {
        margin: 5px 0;
        font-size: 1rem;
    }
}